.flash-box
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name daiki_nakamura
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              %a{:href => "/groups/new"}
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              %a{:href => "/users/855/edit"}
                %i.fa.fa-cog
      .groups
        %a{:href => "/groups/1687/messages"}
          .group
            %p.group__group-name tec
            %p.group__latest-message いいね
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group{"data-group_id" => "1687"}
            tec
          %ul.main-header__left-box__member-list
            Member：
            %li.main-header__left-box__member-list__member daiki_nakamura
        %a{:href => "/groups/1687/edit"}
          .main-header__edit-btn Edit
      .messages
        .message{"data-message_id" => "4617"}
          .message__upper-info
            %p.message__upper-info__talker daiki_nakamura
            %p.message__upper-info__date 2019/09/25(Wed) 14:09:13
          %p.message__text いいね！！
        .message{"data-message_id" => "4628"}
          .message__upper-info
            %p.message__upper-info__talker daiki_nakamura
            %p.message__upper-info__date 2019/09/25(Wed) 15:42:07
          %p.message__text いいね
        .message{"data-message_id" => "4629"}
          .message__upper-info
            %p.message__upper-info__talker daiki_nakamura
            %p.message__upper-info__date 2019/09/25(Wed) 15:42:22
          %p.message__text
      .form
        %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/1687/messages", :enctype => "multipart/form-data", :method => "post"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "b1Soqtk9+G/eFadKl6oFsf4ChEdFV1eWGVesYdMcdjEdTFBi63eNa5lSLm+JFJCYkhm+gi17oHRmIDfDdBj4tA=="}/
          .input-box
            %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
            %label.input-box__image{:for => "message_image"}
              %i.fa.fa-image
              %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
          %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
